<div class="mb-2">
    <a role="button" [routerLink]="['new']" class="btn btn-primary">
        <div class="d-flex justify-content-center align-items-center">
            <img src="/assets/icons/plus-square-fill.svg" class="me-1">
            <span class="px-2">Create New</span>
        </div>
    </a>
</div>
<app-search-input (searched)="onSearch($event)"></app-search-input>
<div class="d-flex flex-wrap mt-2 gap-2">
    <app-dish-card *ngFor="let dish of dishesForDisplay()" [dish]="dish"></app-dish-card>
</div>
