<header>
  <div class="px-3 pt-2 bg-primary text-white d-flex flex-row justify-content-between align-items-center">
    <a class="navbar-brand fs-4" routerLink="/meals">Mealmap</a>
    <a *ngIf="!loginDisplay" (click)="login()" class="d-flex flex-row align-items-center nav-link text-light fs-5"><img src="/assets/icons/login.svg" class="me-2">Login</a>
    <a *ngIf="loginDisplay" (click)="logout()" class="d-flex flex-row align-items-center nav-link text-light fs-5"><img src="/assets/icons/logout.svg" class="me-2">Logout</a>
  </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <ul class="navbar-nav flex-grow-1 d-flex flex-row justify-content-start mb-lg-0">
        <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" class="nav-item mx-3">
          <a class="nav-link text-light fs-5" routerLink="/meals">Meals</a>
        </li>
        <li [routerLinkActive]="['link-active']" class="nav-item mx-3">
          <a class="nav-link text-light fs-5" routerLink="/dishes">Dishes</a>
        </li>
      </ul>
  </nav>
</header>
