<div class="border border-info mt-2">
    <div class="m-1 p-2 bg-primary text-white d-flex justify-content-center"><div>Course {{ index }}</div></div>
    <div class="d-flex m-2 gap-2">
        <div *ngFor="let dish of dishes" class="card picker-card" [ngClass]="{'border-primary': dishPicked !== dish, 'border-info bg-info text-white': dishPicked === dish}">
            <div class="text-center">{{ dish.name }}</div>
            <button type="button" class="btn d-block p-0 border-0 flex-grow-1" (click)="select(dish.id)"><img [src]="dish.localImageURL" class="img-fluid text-center" alt="No image"></button>
            <button id="btnselect" class="btn" [ngClass]="{'btn-primary': dishPicked !== dish, 'btn-info text-white': dishPicked === dish}" (click)="select(dish.id)">Select</button>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary m-1" (click)="confirm()" [disabled]="!selected()">Confirm</button>
        <button type="button" class="btn btn-primary m-1" (click)="cancel()">Cancel</button>
    </div>
</div>
