<div class="d-flex justify-content-end">
    <div class="btn-group" role="group" aria-label="Timerange selection toggle button group">
        <input type="radio" class="btn-check" name="btnweekly" id="time-weekly" autocomplete="off" [checked]="timerangeIsWeekly()">
        <label class="btn btn-outline-primary" for="btnweekly">Weekly</label>
        <input type="radio" class="btn-check" name="btnmonthly" id="time-monthly" autocomplete="off" [checked]="timerangeIsMonthly()">
        <label class="btn btn-outline-primary" for="btnmonthly">Monthly</label>
    </div>
</div>
<div class="d-flex">
    <app-meal-card *ngFor="let meal of mealsForDisplay()" [meal]="meal"></app-meal-card>
</div>
