.editor-card {
    height: 17rem;
    width: 11rem;
}

.index-border {
    border-style: solid solid solid solid;
}

input[type="radio"] + label {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

input[type="radio"]:not(:checked) + label {
    color: grey;
    border-color: grey;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

button:disabled {
    color: grey;
    border-color: grey;
    background-color: white;
}
