<div class="card h-100 card-m border-primary">
  <div class="py-2 rounded-top text-white text-center bg-secondary">{{ meal!.diningDate | date:'EE - dd.MM.yy' }}</div>
  <ng-container *ngIf="hasCourses()">
    <a [routerLink]="[meal.key()]">
      <img [src]="mainCourse()!.dish!.localImageURL" onerror="this.src='/assets/no-image.png'" class="card-image-m" alt="No image">
    </a>
    <div class="d-flex flex-wrap text-white">
      <a [routerLink]="[meal.key(), 'edit']" class="flex-grow-1 btn btn-success rounded-0 d-flex justify-content-center align-items-center" role="button">
        <img src="/assets/icons/pencil-square.svg" class="me-1">
        <span>Edit</span>
      </a>
      <button type="button" id="btndelete" class="flex-grow-1 btn btn-danger rounded-0 d-flex justify-content-center align-items-center" (click)="deleted.emit(meal.diningDate)">
        <img src="/assets/icons/trash3-fill.svg" class="me-1">
        <span>Delete</span>
      </button>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">{{ mainCourse()?.dish?.name }}</h5>
      <ng-container [ngSwitch]="mainCourse()?.dish?.description != undefined" >
        <p *ngSwitchCase="true" class="card-text fw-light" >{{ mainCourse()?.dish?.description }}</p>
        <p *ngSwitchCase="false" class="card-text fw-lighter fst-italic">No description available</p>
      </ng-container>
    </div>
  </ng-container>
  <div *ngIf="!hasCourses()" class="h-100 d-flex justify-content-center align-items-center text-primary">
    <a [routerLink]="[meal.key(), 'edit']" class="w-25 h-25"><img src="/assets/icons/plus-square-dotted.svg" alt="Add Meal" class="w-100 h-100"></a>
  </div>
</div>
