<div class="card h-100 card-m">
    <a [routerLink]="[dish.id]" class="p-0 border-0">
        <img [src]="dish.localImageURL" onerror="this.src='/assets/no-image.png'" class="card-image-m rounded-top" alt="No image">
    </a>
    <div class="card-body">
        <h5 class="card-title text-center">{{ dish.name }}</h5>
        <p [ngSwitch]="dish.description != undefined" class="card-text">
            <span *ngSwitchCase="true" class="fw-light">{{ dish.description }}</span>
            <span *ngSwitchCase="false" class="fw-lighter fst-italic">No description available</span>
        </p>
    </div>
</div>
