/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card-m {
  width: min(201px, 44vw);
  min-height: 160px;
}

.card-image-l {
  aspect-ratio: 5 / 4;
  width: min(300px, 80vw);
  height: min(240px, 64vw);
  object-fit: cover;
}

.card-image-m {
  aspect-ratio: 5 / 4;
  width: min(200px, 44vw);
  height: min(160px, 35.2vw);
  object-fit: cover;
}

.card-image-s {
  aspect-ratio: 5 / 4;
  width: min(150px, 40vw);
  height: min(120px, 32vw);
  object-fit: cover;
}
